  Form {
    border: 1px solid red;
    display: flex;
    place-items: start;
    flex-direction: column;
    margin: 20px;
    padding: 10px 0;
  }

  .input {
    max-width: min-content;
    padding-left: 2rem;
  }

  .btn {
    padding-left: 2rem;
    padding-top: 2px;
    flex-direction: row;
  }

  #submit {
    align-self: start;
    margin: 3px;
  }
  #reset {
    align-self: end;
    margin: 3px;
  }
  

  .wrapper, h2{
    max-width: 100%;
    margin: 0 30px;
  }


  .list-product {
    display: inline-block;
    margin: 15px;
    height: 100%;
  }

  .card-product {
      max-width: 200px;    
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .card-product img {
      width: 100%;
      border-radius: 5px;
  }

.card-product h4,
.card-product h3,
.card-product h5 {
  margin: 5px 0;
}